#folders
.vscode/
.ipynb_checkpoints/
data/
.idea/
ResultsAHU1/
ResultsAHU2/
RL_data/
source/__pyc
RL_data_local/

#extensions
*.code-workspace
*.joblib
*.pyc
hybrid_rl_local.py
Energy_Calc_local.py
ThermoProp_local.py
AHU1_env_local.py